
  /* Media Queries */
  @media(max-width: 750px){

  #ul{
  text-align: center;
  align-content: center;
  position: relative;
  float: right;
  margin-top: 0px;
  margin-left: 1px;
  }

  ul.parent >li{

  text-align:center;
  align-content: center;
  position: relative;
  width: 18%;
  border-radius: 2px;
  padding: 10px;
  float: right;
  margin-bottom: 2px;
  }

  #title, #nameFont, #postFont{
  width: 98%;
  text-align: center;  
  position: relative;
  margin-right: 2%;
  margin-left: 1px;
    }

  .index {
  width: 98%;
  text-align: center;  
  position: relative;
  margin-left: 1px;
  align-content: center;
  
  }

  .index .nameFont {
  font-size: 30px;
  }
  .index .postFont{
  font-size: 32px;
  }

  .index .postFont:hover{
  font-weight: normal;
  }

  .feedback {
  width: 98%;
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin-left: 1px;
  top: 5px;


  }
  .feedback h1 {
    

  }
  .feedback h1>span {

  font-size: 11px;
  color: #161714;/*FFF*/
  text-align: center;
  margin-top: 0px;
    
  }

  .bg-img{
  display: none;
  }

  .footer-distributed{
  margin-top: 100px;
  padding-bottom: 120px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  vertical-align: top;
  width: 99%;
  padding-left: 0px; 
  }


  .footer-distributed .footer-icons {
  float: left;
  text-align:center;
  top:50px;
  align-content: center;
  margin-bottom: 0px;
  margin-left: 40%;
  margin-right: 20%; 
  margin-top: 10px; /* margin for icons from the box.*/ 
  }

  .footer-distributed .author, .footer-distributed .footer-company-name{
  text-align: center;
  }

  }
