
	body{
	background-color: #f4f4f4;
	}



	#ul{
	padding-top: 8px;
	width: 100%;
	top: 0px;
	position: fixed;
	right: 3%;
	margin-top: 15px;
	}



	#title {
	background-color: #161714;   
	padding-bottom: 5px;
	text-align: left;   
	padding-top: 5px;
	width: 99%;
	align-content: center;
	position:fixed;
	top: 0px;
	border:0px; 
	} 

	#nameFont {
	font-size: 50px;
	font-family: Edwardian Script ITC;
	margin-left: 90px; 
	padding: 10px;
	font-weight: 800;
	position:relative;
	top-margin: 0px;
	text-align: left;
	color: rgba(348, 200, 200, 0.96); 
	} 

	#nameFont:hover {  color: #70ab3a; }

	#ul.parent >li:hover {
	background-color: #161714;
	color:#fbcece;
	font-weight: bold;

	}

	a   {  
	text-decoration: none;
	color : inherit;
	}

	a:hover {
	background-color: transparent;
	color: rgba(86, 236, 36, 0.9);
	}

	a: visited { 
	text-decoration-color: transparent;
	}

	li {
	list-style: none;
	}

	#icons{
	display: inline-block;  /* for icons to stay in line - not one above another.*/ 
	max-width: 25px;
	max-height: 25px;
	cursor: pointer;
	margin-right: 10px; /* distance between the icons*/ 
	}

	.footer-distributed{
	margin-top: 100px;
	}

	.bg-img{
	background:url("../images/Uconst.jpg") no-repeat 0 -150px;
	align-content: center;
	text-align:center;
	margin-left: 5%;
	margin-top: 90px;
	width: 90%;
	border-radius: 20px;
	min-height: 500px;
	max-width: 1200px;

	}